@import "../utils/vars";
.footer {
  background-color: $bg-color;
  display: flex;
}
.social-title {
  color: $white-color;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700px;
  font-size: 14px;
  line-height: 16.41px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.social-link .social-link--footer {
  background-color: rgba(255, 255, 255, 0.1);
}
.social-icon .social-icon--footer {
  fill: $white-color;
  &:hover,
  &:active {
    fill: $white-color;
  }
}
