@import "../utils/vars";

.heading {
  font-weight: 900px;
  color: $white-color;
  font-size: 44px;
  line-height: 1.36;
  display: inline-block;
  margin-bottom: 30px;
  text-align: center;
  padding-top: 200px;
  &__button {
    margin-bottom: 200px;
  }
}
.button {
  width: 200px;
  height: 50px;
  color: $white-color;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.85;
  background-color: $brand-color;
  border-color: $brand-color;
  border-radius: 4px;
  display: inline-block;
  position: relative;
  &:hover {
    cursor: pointer;
  }
}
.button_icon {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 10px;
  right: 24px;
  fill: $white-color;
}
.page-section {
  max-width: 1600px;
}
.container-flex {
  display: flex;
  margin: 0, auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.logo {
  text-decoration: none;
  color: $writing-color;
  font-weight: 700;
  font-family: Raleway;
  font-size: 26px;
  line-height: 1, 17;
  margin-right: 93px;
  padding-top: 18px;
}
.web_logo {
  text-decoration: none;
  color: $brand-color;
  font-family: raleway;
  font-weight: 700px;
  font-size: 26px;
  line-height: 1.38;
}
.nav-grid {
  list-style-type: none;
  display: flex;
  gap: 50px;
  padding: 24px, 0, 0, 25px;
  .nav-grid_item {
    display: inline-block;
  }
}
.nav-link {
  color: $writing-color;
  font-style: normal;
  font-weight: 500px;
  font-size: 14px;
  line-height: 1.17;
  text-decoration: none;
  &:hover,
  &:active,
  &:focus {
    color: $brand-color;
  }
}
.contact-list {
  list-style-type: none;
  margin-left: auto;
  .contact-list_item {
    display: inline-block;
  }
}
.link {
  text-decoration: none;
  color: $paragraph-color;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  font-style: normal;
  &:hover,
  &:focus,
  &:active {
    color: $brand-color;
    cursor: pointer;
    text-decoration: underline 2px $brand-color;
    transition-property: cursor, text-decoration;
    transition-duration: 250ms;
    transition-delay: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.form-title {
  font-weight: 700px;
  font-size: 20px;
  line-height: 1.17;
  margin-top: 40px;
  margin-left: 41px;
  margin-bottom: 12px;
}
.contact-form {
  width: 448px;
  height: 342px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  & label {
    flex: 1 0 100%;
    font-size: 12px;
    font-weight: 400px;
    line-height: 1.17;
    color: $paragraph-color;
    margin-bottom: 10px;
    margin-left: 75px;
    position: relative;
  }
  & input {
    border-radius: 4px;
    background-color: $white-color;
    width: 448px;
    height: 40px;
    border: 1px solid $paragraph-color;
    margin-top: 4px;
    padding-left: 40px;
  }
  & textarea {
    width: 448px;
    height: 120px;
    resize: none;
    margin-top: 4px;
  }
}
.form_icon {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 30px;
  left: 13.5px;
  color: $writing-color;
  &:hover {
    fill: $brand-color;
  }
}
.contact-form input:hover,
.contact-form input:focus-within {
  color: $brand-color;
  outline: none;
  background-color: $white-color;
  border: 1px solid $brand-color;
  box-shadow: 0 2 1 0 rgba(0, 0, 0, 0.2), 0 1 1 0 rgba(0, 0, 0, 0.14),
    0 1 3 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}
.contact-form textarea::placeholder {
  padding: 12px 16px;
}
.contact-form textarea:focus-within {
  color: $brand-color;
  outline: none;
  background-color: $white-color;
  border: 1px solid $brand-color;
  box-shadow: 0 2 1 0 rgba(0, 0, 0, 0.2), 0 1 1 0 rgba(0, 0, 0, 0.14),
    0 1 3 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}
.form-agreement {
  font-size: 14px;
  line-height: 1.71;
  color: $paragraph-color;
  position: relative;
}
.form-agreement svg {
  width: 11px;
  height: 8px;
  fill: $white-color;
  position: absolute;
  top: 2px;
  left: 43px;
}
.form-span {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-left: 40px;
  margin-right: 7px;
  margin-top: 25px;
  border: 1px solid $paragraph-color;
  &:hover {
    background-color: $brand-color;
    border: 1px solid $brand-color;
  }
}
.checkbox {
  display: none;
}
.form-link {
  color: $brand-color;
  font-size: 14px;
  line-height: 1.71;
}
.form-container .button {
  margin-left: 164px;
}
