@import "../utils/vars";
.product-grid {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 30px;
  margin-bottom: 94px;
  &.product-item {
    flex: calc((100% - 60px) / 3);
  }
}
.box {
  margin-left: auto;
  margin-right: auto;
  width: 370px;
  height: 294px;
  position: relative;
  overflow: hidden;
}
.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 1px;
  text-align: left;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &_item {
    color: $white-color;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    padding: 63px 24px 94px;
  }
}
.box :hover .overlay,
.product-item:hover .overlay {
  transform: translatey(0);
}
.subtitle {
  border-bottom: 1px solid #eeee;
  border-left: 1px solid #eeee;
  border-right: 1px solid #eeee;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
  &_name {
    color: $writing-color;
    font-style: bold;
    font-size: 18px;
    line-height: 2;
    padding-top: 20px;
    margin-bottom: 4px;
  }
  &_item {
    color: $paragraph-color;
    font-size: 16px;
    font-weight: 400px;
    line-height: 1.17;
    margin-bottom: 16px;
    text-align: left;
  }
}
.grid-buttons {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.grid-buttons_item {
  padding: 6px, 25px;
}
.nav-button {
  min-width: 83px;
  color: $writing-color;
  background-color: rgba(245, 244, 250, 1);
  border-color: rgba(245, 244, 250, 1);
  border-radius: 4px;
  font-style: medium;
  font-size: 16px;
  text-align: center;
  margin-right: 8px;
  &:hover,
  &:active,
  &:focus {
    cursor: pointer;
    background-color: $brand-color;
    border-color: $brand-color;
    color: $white-color;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08);
  }
}
