$paragraph-color: #757575;
$brand-color: rgba(33, 150, 243, 1);
$bg-color: #2f303a;
$writing-color: #212121;
$white-color: #ffffff;
$team-color: #f5f4fa;
$button-bgcolor: #e5e5e5;
$icon-color: #afb1b8;
$gap: 30px;
