.heading {
  font-weight: 900px;
  color: #ffffff;
  font-size: 44px;
  line-height: 1.36;
  display: inline-block;
  margin-bottom: 30px;
  text-align: center;
  padding-top: 200px;
}
.heading__button {
  margin-bottom: 200px;
}

.button {
  width: 200px;
  height: 50px;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.85;
  background-color: rgb(33, 150, 243);
  border-color: rgb(33, 150, 243);
  border-radius: 4px;
  display: inline-block;
  position: relative;
}
.button:hover {
  cursor: pointer;
}

.button_icon {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 10px;
  right: 24px;
  fill: #ffffff;
}

.page-section {
  max-width: 1600px;
}

.container-flex {
  display: flex;
  margin: 0, auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo {
  text-decoration: none;
  color: #212121;
  font-weight: 700;
  font-family: Raleway;
  font-size: 26px;
  line-height: 1, 17;
  margin-right: 93px;
  padding-top: 18px;
}

.web_logo {
  text-decoration: none;
  color: rgb(33, 150, 243);
  font-family: raleway;
  font-weight: 700px;
  font-size: 26px;
  line-height: 1.38;
}

.nav-grid {
  list-style-type: none;
  display: flex;
  gap: 50px;
  padding: 24px, 0, 0, 25px;
}
.nav-grid .nav-grid_item {
  display: inline-block;
}

.nav-link {
  color: #212121;
  font-style: normal;
  font-weight: 500px;
  font-size: 14px;
  line-height: 1.17;
  text-decoration: none;
}
.nav-link:hover, .nav-link:active, .nav-link:focus {
  color: rgb(33, 150, 243);
}

.contact-list {
  list-style-type: none;
  margin-left: auto;
}
.contact-list .contact-list_item {
  display: inline-block;
}

.link {
  text-decoration: none;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  font-style: normal;
}
.link:hover, .link:focus, .link:active {
  color: rgb(33, 150, 243);
  cursor: pointer;
  -webkit-text-decoration: underline 2px rgb(33, 150, 243);
          text-decoration: underline 2px rgb(33, 150, 243);
  transition-property: cursor, -webkit-text-decoration;
  transition-property: cursor, text-decoration;
  transition-property: cursor, text-decoration, -webkit-text-decoration;
  transition-duration: 250ms;
  transition-delay: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-title {
  font-weight: 700px;
  font-size: 20px;
  line-height: 1.17;
  margin-top: 40px;
  margin-left: 41px;
  margin-bottom: 12px;
}

.contact-form {
  width: 448px;
  height: 342px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.contact-form label {
  flex: 1 0 100%;
  font-size: 12px;
  font-weight: 400px;
  line-height: 1.17;
  color: #757575;
  margin-bottom: 10px;
  margin-left: 75px;
  position: relative;
}
.contact-form input {
  border-radius: 4px;
  background-color: #ffffff;
  width: 448px;
  height: 40px;
  border: 1px solid #757575;
  margin-top: 4px;
  padding-left: 40px;
}
.contact-form textarea {
  width: 448px;
  height: 120px;
  resize: none;
  margin-top: 4px;
}

.form_icon {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 30px;
  left: 13.5px;
  color: #212121;
}
.form_icon:hover {
  fill: rgb(33, 150, 243);
}

.contact-form input:hover,
.contact-form input:focus-within {
  color: rgb(33, 150, 243);
  outline: none;
  background-color: #ffffff;
  border: 1px solid rgb(33, 150, 243);
  box-shadow: 0 2 1 0 rgba(0, 0, 0, 0.2), 0 1 1 0 rgba(0, 0, 0, 0.14), 0 1 3 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.contact-form textarea::-moz-placeholder {
  padding: 12px 16px;
}

.contact-form textarea::placeholder {
  padding: 12px 16px;
}

.contact-form textarea:focus-within {
  color: rgb(33, 150, 243);
  outline: none;
  background-color: #ffffff;
  border: 1px solid rgb(33, 150, 243);
  box-shadow: 0 2 1 0 rgba(0, 0, 0, 0.2), 0 1 1 0 rgba(0, 0, 0, 0.14), 0 1 3 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.form-agreement {
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
  position: relative;
}

.form-agreement svg {
  width: 11px;
  height: 8px;
  fill: #ffffff;
  position: absolute;
  top: 2px;
  left: 43px;
}

.form-span {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-left: 40px;
  margin-right: 7px;
  margin-top: 25px;
  border: 1px solid #757575;
}
.form-span:hover {
  background-color: rgb(33, 150, 243);
  border: 1px solid rgb(33, 150, 243);
}

.checkbox {
  display: none;
}

.form-link {
  color: rgb(33, 150, 243);
  font-size: 14px;
  line-height: 1.71;
}

.form-container .button {
  margin-left: 164px;
}

.grid {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.grid--col-3 .grid_item {
  position: relative;
  margin-bottom: 94px;
}

.grid--col-4 .grid_item {
  margin-bottom: 94px;
  margin-top: 94px;
  display: inline-block;
}

.team--grid .grid_item {
  box-shadow: 1px 0 2px rgba(0, 0, 0, 0.2), 1px 0 1px rgba(0, 0, 0, 0.14), 3px 0 1px rgba(0, 0, 0, 0.12);
}

.social-link {
  background-color: #ffffff;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover, .social-link:focus {
  background-color: rgb(33, 150, 243);
}
.social-link_icon {
  fill: #757575;
}

.section-heading {
  color: #212121;
  font-size: 36px;
  font-style: bold;
  line-height: 1.16;
  text-align: center;
  padding-bottom: 50px;
}

.grid_item {
  display: inline-block;
}

.grid_icon {
  width: 70px;
  height: 70px;
  margin-bottom: 30px;
  align-self: center;
}

.grid_title {
  color: #212121;
  font-size: 16px;
  font-weight: 400px;
  line-height: 1.17;
  margin-bottom: 16px;
  text-align: left;
}

.grid_parag {
  color: #757575;
  font-size: 14px;
  line-height: 1.71;
  margin-top: 10px;
}

.icon_grid {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.icon_grid_item {
  margin-bottom: 30px;
}

.person-name {
  color: var(--writing-color);
  font-size: 16px;
  font-weight: 500px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 10px;
}

.person-title {
  color: #757575;
  font-size: 16px;
  font-weight: 400px;
  line-height: 1.17;
  margin-bottom: 16px;
  text-align: center;
}

.apps {
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  left: 0;
  bottom: 15px;
}
.apps_title {
  color: #ffffff;
  font-weight: 700px;
  font-size: 14px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
  padding: 27px 0;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 30px;
  margin-bottom: 94px;
}
.product-grid.product-item {
  flex: calc((100% - 60px) / 3);
}

.box {
  margin-left: auto;
  margin-right: auto;
  width: 370px;
  height: 294px;
  position: relative;
  overflow: hidden;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 1px;
  text-align: left;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay_item {
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  padding: 63px 24px 94px;
}

.box :hover .overlay,
.product-item:hover .overlay {
  transform: translatey(0);
}

.subtitle {
  border-bottom: 1px solid rgba(238, 238, 238, 0.9333333333);
  border-left: 1px solid rgba(238, 238, 238, 0.9333333333);
  border-right: 1px solid rgba(238, 238, 238, 0.9333333333);
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
}
.subtitle_name {
  color: #212121;
  font-style: bold;
  font-size: 18px;
  line-height: 2;
  padding-top: 20px;
  margin-bottom: 4px;
}
.subtitle_item {
  color: #757575;
  font-size: 16px;
  font-weight: 400px;
  line-height: 1.17;
  margin-bottom: 16px;
  text-align: left;
}

.grid-buttons {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.grid-buttons_item {
  padding: 6px, 25px;
}

.nav-button {
  min-width: 83px;
  height: 38px;
  color: #212121;
  background-color: rgb(245, 244, 250);
  border-color: rgb(245, 244, 250);
  border-radius: 4px;
  font-style: medium;
  font-size: 16px;
  text-align: center;
  margin-right: 8px;
}
.nav-button:hover, .nav-button:active, .nav-button:focus {
  cursor: pointer;
  background-color: rgb(33, 150, 243);
  border-color: rgb(33, 150, 243);
  color: #ffffff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08);
}

.footer {
  background-color: #2f303a;
  display: flex;
}

.section-address {
  padding: 60px, 0;
}

.social-icon-section {
  padding-top: 72px;
}

.subscribe {
  padding-top: 72px;
}

.social-title {
  color: #ffffff;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700px;
  font-size: 14px;
  line-height: 16.41px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.icon_grid_footer .social-link {
  background-color: rgba(255, 255, 255, 0.1);
}
.icon_grid_footer .social-link:hover, .icon_grid_footer .social-link:active {
  background-color: rgb(33, 150, 243);
}
.icon_grid_footer .social-link .social_icon {
  fill: #ffffff;
}

.address--footer .logo {
  color: #ffffff;
}

.address-grid_item {
  margin-bottom: 12px;
}

.address-grid {
  list-style-type: none;
}
.address-grid .address {
  padding: 0;
  color: #757575;
  text-decoration: none;
  font-size: 14px;
}
.address-grid .address:hover, .address-grid .address:focus {
  color: rgb(33, 150, 243);
  text-decoration-line: underline 2px rgb(33, 150, 243);
  cursor: pointer;
}
.address-grid .address-link {
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400px;
  line-height: 1.14;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-text-decoration 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), text-decoration 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), text-decoration 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-text-decoration 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-grid .address-link:hover, .address-grid .address-link:focus {
  color: rgb(33, 150, 243);
  text-decoration-line: underline 2px rgb(33, 150, 243);
  cursor: pointer;
}

.e-mail-section {
  height: 50px;
  width: 358px;
  font-size: 16px;
  line-height: 1.25;
  color: #757575;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.e-mail-section:focus-within {
  border-color: rgb(33, 150, 243);
  outline: none;
  cursor: pointer;
}

.company-link {
  height: 92px;
  width: 170px;
  border: 1px solid #757575;
  display: flex;
  justify-content: center;
  align-items: center;
}
.company-link:focus, .company-link:hover {
  border: 1px solid rgb(33, 150, 243);
}

.company_icon {
  fill: #757575;
}
.company_icon:hover {
  fill: rgb(33, 150, 243);
}

.grid--col-6 {
  margin-bottom: 94px;
}

* {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

body {
  font-family: Roboto;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.66;
  letter-spacing: 3%;
}

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 4000ms cubic-bezier(0.4, 0, 0.2, 1), transform 4000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal {
  padding: 0;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 30px;
  height: 30px;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  background-color: #ffffff;
}
.close-modal:hover {
  border-color: rgb(33, 150, 243);
}

.inner-modal {
  border-color: rgb(33, 150, 243);
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
  position: relative;
}
.inner-modal:hover, .inner-modal:focus {
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transform: scale(0);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.heading-section {
  max-width: 1600px;
  margin: 0, auto;
  background-image: url("../images/background.jpg"), url("../images/Img Overlay.jpg"), url("../images/background.jpg");
}

.social_icon {
  fill: #757575;
}
.social_icon:hover {
  fill: #ffffff;
}/*# sourceMappingURL=main.css.map */