.heading {
  font-weight: 900px;
  color: #ffffff;
  font-size: 44px;
  line-height: 1.36;
  display: inline-block;
  margin-bottom: 30px;
  text-align: center;
  padding-top: 200px;
}
.heading__button {
  margin-bottom: 200px;
}

.button {
  width: 200px;
  height: 50px;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.85;
  background-color: rgb(33, 150, 243);
  border-color: rgb(33, 150, 243);
  border-radius: 4px;
  display: inline-block;
  position: relative;
}

.button_icon {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 10px;
  right: 24px;
  fill: #ffffff;
}

.page-section {
  max-width: 1600px;
}

.container-flex {
  display: flex;
  margin: 0, auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo {
  text-decoration: none;
  color: #212121;
  font-weight: 700;
  font-family: Raleway;
  font-size: 26px;
  line-height: 1, 17;
  margin-right: 93px;
  padding-top: 24px;
}

.web_logo {
  text-decoration: none;
  color: rgb(33, 150, 243);
  font-family: raleway;
  font-weight: 700px;
  font-size: 26px;
  line-height: 1.38;
}

.nav-grid {
  list-style-type: none;
  display: flex;
  gap: 50px;
  padding: 24px 0 0 25px;
}
.nav-grid .nav-grid_item {
  display: inline-block;
}

.nav-link {
  color: #212121;
  font-style: normal;
  font-weight: 500px;
  font-size: 14px;
  line-height: 1.17;
  text-decoration: none;
}
.nav-link:hover, .nav-link:active, .nav-link:focus {
  color: rgb(33, 150, 243);
}

.contact-list {
  list-style-type: none;
  padding: 32px 0;
  margin-left: auto;
}
.contact-list .contact-list_item {
  display: inline-block;
}

.link {
  text-decoration: none;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  font-style: normal;
}
.link:hover, .link:focus, .link:active {
  color: rgb(33, 150, 243);
  cursor: pointer;
  -webkit-text-decoration: underline 2px rgb(33, 150, 243);
          text-decoration: underline 2px rgb(33, 150, 243);
  transition-property: cursor, -webkit-text-decoration;
  transition-property: cursor, text-decoration;
  transition-property: cursor, text-decoration, -webkit-text-decoration;
  transition-duration: 250ms;
  transition-delay: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.grid {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.social-link {
  background-color: #ffffff;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover, .social-link:focus {
  background-color: rgb(33, 150, 243);
}
.social-link_icon {
  fill: #757575;
}

.section-heading {
  color: #212121;
  font-size: 36px;
  font-style: bold;
  line-height: 1.16;
  text-align: center;
}

.grid_item {
  display: inline-block;
}

.grid_icon {
  width: 70px;
  height: 70px;
}

.grid_title {
  color: #212121;
  font-size: 16px;
  font-weight: 400px;
  line-height: 1.17;
  margin-bottom: 16px;
  text-align: center;
}

.grid_parag {
  color: #757575;
  font-size: 14px;
  line-height: 1.71;
  margin-top: 10px;
}

.icon_grid {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.icon_grid_item {
  margin-bottom: 30px;
}

.team--subtitle {
  text-align: center;
  margin-top: 10px;
}

.person-name {
  color: var(--writing-color);
  font-size: 16px;
  font-weight: 500px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 10px;
}

.box :hover .overlay,
.product-item:hover .overlay {
  transform: translatey(0);
}

.box {
  margin-left: auto;
  margin-right: auto;
  width: 370px;
  height: 294px;
  position: relative;
  overflow: hidden;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 1px;
  text-align: left;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay_item {
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  padding: 63px 24px 94px;
}

.subtitle {
  border-bottom: 1px solid rgba(238, 238, 238, 0.9333333333);
  border-left: 1px solid rgba(238, 238, 238, 0.9333333333);
  border-right: 1px solid rgba(238, 238, 238, 0.9333333333);
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
}
.subtitle_name {
  color: #212121;
  font-style: bold;
  font-size: 18px;
  line-height: 2;
  padding-top: 20px;
  margin-bottom: 4px;
}
.subtitle_item {
  color: #757575;
  font-size: 16px;
  font-weight: 400px;
  line-height: 1.17;
  margin-bottom: 16px;
  text-align: left;
}

.footer {
  background-color: #2f303a;
  display: flex;
}

.social-title {
  color: #ffffff;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700px;
  font-size: 14px;
  line-height: 16.41px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.icon_grid--footer {
  fill: var(--white-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.company-link {
  color: #757575;
}

* {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

body {
  font-family: Roboto;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.66;
  letter-spacing: 3%;
}

.close-modal {
  padding: 0;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 30px;
  height: 30px;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  background-color: #ffffff;
}
.close-modal:hover {
  border-color: rgb(33, 150, 243);
}

.inner-modal {
  border-color: rgb(33, 150, 243);
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
  position: relative;
}
.inner-modal:hover, .inner-modal:focus {
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transform: scale(0);
}

.container {
  max-width: 1200px;
  display: flex;
  margin: 0 auto;
}

.heading-section {
  max-width: 1600px;
  margin: 0, auto;
  background-image: url("../images/background.jpg"), url("../images/Img Overlay.jpg"), url("../images/background.jpg");
}

.social_icon {
  fill: #757575;
}
.social_icon:hover {
  fill: #ffffff;
}

.grid--col-3 .grid__item {
  flex-basis: calc((100% - 60pxpx) / 3);
}

.grid--col-4 .grid__item {
  flex-basis: calc((100% - 90pxpx) / 4);
}

.grid--col-6 .grid__item {
  flex-basis: calc((100% - 150pxpx) / 6);
}/*# sourceMappingURL=main.css.map */