@import "../sass/utils/var.scss";
body {
  font-family: Roboto;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.66;
  letter-spacing: 3%;
}
.button {
  color: $white-color;
  background-color: $brand-color;
}
.close-modal {
  padding: 0;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 30px;
  height: 30px;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  background-color: $white-color;
  .inner-modal {
    border-color: $brand-color;
    width: 528px;
    height: 581px;
    background-color: $white-color;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
      0 1px 1px 0 rgba(0, 0, 0, 0.14);
    position: relative;
  }
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transform: scale(0);
}
.close-modal:hover {
  border-color: $brand-color;
  .inner-modal:hover,
  .inner-modal:focus {
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 1px;
  text-align: left;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .overlay_item {
    color: $white-color;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    padding: 63px 24px 94px;
  }
}
.nav-grid {
  list-style-type: none;
  text-decoration: none;
  color: $paragraph-color;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  font-style: normal;
  display: flex;
}
.container {
  max-width: 1200px;
  display: flex;
  margin: 0, auto;
}
@each $nrcol in 3, 4, 6 {
  .grid--col-#{$nrcol} {
    .grid_item {
      $nrgap: $nrcol-1;
      $totalgap: $nrgap * $gap;
      flex-basis: calc((100%-#{$totalgap} px) /#{$nrcol});
    }
  }
}
